h1 {
    text-align: center;
}



.ol {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 7%;
    margin-right: 7%;
    gap: 4%;
    margin-top: 5%;

}

.ol img {
    height: 170px;
    margin: 1%;
}

.Amberlager {
    border: 2px solid #000;
    display: flex;
}

.Amberlager p{
font-size: larger;
margin-left: 25%;
text-align: center;
line-height: 80px;
}

.beskrivelse {
    margin-top: 20%;
}

button {
    background-color: #172442;
    color: #fdfdeb;
    margin-top: 20%;
    height: 60px;
    width: 150px;
    font-size: large;
   margin-left: 47%;
}
