h1 {
    text-align: center;
    margin-top: 5%;
    color: #172442;
}

p {
    margin-left: 8%;
    margin-top: 4%;
    color: #172442;
}

h2 {
    margin-left: 8%;
}

.antal {
    display: flex;
}

.antal input {
    margin-left: 1%;
    height: 10%;
    width: 5%;
    margin-top: 4%;
    color: gray;
}

.ol {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 7%;
    margin-right: 7%;
    gap: 4%;
    margin-top: 5%;

}

.ol img {
    height: 170px;
    margin: 1%;
}

.Amberlager {
    border: 2px solid #172442;
    display: flex;
}

.Amberlager p{
font-size: larger;
margin-left: 25%;
text-align: center;
line-height: 90px;
}

.Amberlager input {
    height: 10%;
    width: 10%;
    margin-top: 25%;
    margin-left: 20%;
    color: grey;
}

.beskrivelse {
    margin: 10%;
    color: #172442;
}

button {
    background-color: #172442;
    color: #fdfdeb;
    margin-top: 20%;
    height: 60px;
    width: 150px;
    font-size: large;
   margin-left: 47%;
}

div.scroll-container {
  background-color: #fdfdeb;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}




