@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Signika:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sort: #172442;
    --hvid: #fdfdeb;
    --gron:#c5d27f;
    --orange: #f39c45;
    --blaa:#89b9cf;
    --lysrod: #f3a0b9;
    --lilla: #5d4aa1;
    --brun: #57341c;
    --graa: #5e6b7f;

    
    --fatface:"Abril Fatface", serif;
    --signika: "Signika", sans-serif;
}

body {
    background-color: var(--hvid);
}

h1 {
    font-family: var(--fatface);
    font-weight: 400;

}

h2 {
    font-family: var(--fatface);
    font-size: 40px;
    font-weight: 400;
}

h3 {
    font-family: var(--fatface);
    font-weight: 400;
    font-size: 20px;
}

a {
    font-family: var(--fatface);

}

p {
    font-family: var(--signika);
}





header {
    width: 100%;
    background: var(--hvid);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 20px 4%;
    display: flex;
    z-index: 1000;
    text-transform: none;
    position: sticky;
}

header .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

#headlogo {
    width: 170px;
}

.headikon {
    width: 60%;
}

.headikoncontainer {
    display: flex;
    justify-content: space-between;
    width: 15%;
    align-self: center;
    padding-top: 20px;

}



header .navbar ul {
    list-style: none;
    width: 60%;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    align-self: center;


}

header .navbar ul li {
    text-decoration-color: var(--hvid);
    position: relative;
    width: 120%;
    text-align: center;

}

header .navbar ul li a {
    text-decoration: none;
    font-size: 25px;
    padding: 15px;
    padding-bottom: 0px;
    color: var(--sort);
    display: block;

}

header .navbar ul li a:hover {
    background: var(--grå);
    color: var(--orange);

    
}

header .navbar ul li ul {
    position: absolute;
    width: 100%;
    background: var(--hvid);
    display: none;

}

header .navbar ul li ul li {
    width: 100%;

    /*border-top: 1px solid var(--sort);*/

}

header .navbar ul li ul li a{
    width: 100%;
    font-size: 20px;
    padding: 10px;

    /*border-top: 1px solid var(--sort);*/

}

header .navbar ul li ul li ul {
    left: 100px;
    top:0;
    
    
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: block;
}

header label {
    font-size: 15px;
    color: var(--grå);
    cursor: pointer;
    display: none;
}

#menu-bar {
    display: none;
}




#skaal {
    width: 100%;
}


#bestsell {
    padding: 30px;
    text-align: center;
    color: #172442;
}

#bestsellere {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
}


.brew {
    width: 90%;
}

#gronbrew {
    width: 130%;
}






#smagskendere {
    padding: 30px;
    background-color: var(--sort);
  }

#smagskendere h2 {
    text-align: center;
    color: var(--hvid);
    margin-bottom: 15px;
}

#smagskendere figure {
    display: flex;
    justify-content: space-evenly;
    height: 250px;
}

#smagskendere figure p {
    width: 90%;
    margin: auto;
}


#card {
    text-align: center;
    color: var(--hvid);
    padding: 5px;
}

.flip-card img {
    width: 100%;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: var(--sort);
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: var(--sort);
    color: var(--hvid);
    transform: rotateY(180deg);
    align-content: center;
  }

  .flipcards {
      display: flex;
      justify-content: space-between;
      gap: 20px;
  }

  #ølletsRejse,  #ølletsRejse-produktion {
    text-align: center;
    padding: 30px;
    color: var(--sort);
  }

  #ølletsRejse-produktion {color: var(--hvid); background-color: var(--sort);}

  .produktion {
    padding: 30px;
    color: var(--sort);
}

#overskriftproduktion {
    text-align: center;
    padding: 22px;
}

#produktiontekst {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    width: 80%;
    line-height: 1.6;
    margin: auto;
}

/* our beer nederste sektion */
#produktiontekst1 {
    text-align: center;
}

.facts {
    justify-self: center;
    padding: 100px;
    background-color: var(--sort);
}

.gridfacts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    line-height: 1.6;
    gap: 40px;
    color: var(--hvid);
}

.facts img, .factsmork img, .kontaktoplysninger img {
    width: 80px;
    height: 80px;
    margin: 20px;
}

.factsmork {
    padding: 100px;
    background-color: var(--hvid);
}

.factsmork p {color: var(--sort);}

.kontaktoplysninger {
    padding: 100px;
    background-color: var(--sort);
    color: var(--hvid);
}







footer {
    background-color: var(--sort);
    color: var(--hvid);
    padding: 5%;
    line-height: 1.6;
    display: flex;;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    width: 100%;
}

#footerlinks {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    align-self: flex-end;
}

footer a {
    font-family: var(--signika);
}

/* unvisited link */
footer a:link {
    color: var(--hvid);
  }
  
  /* visited link */
footer a:visited {
    color: var(--hvid);
  }
  
  /* mouse over link */
footer a:hover {
    color: var(--graa);
  }
  
  /* selected link */
footer a:active {
    color: var(--blaa);
  }

#socialmedier {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: end;
}

#socialmedier img {
    width: 60px;
    height: 60px;
}



#section1 {
    display: flex;
    gap: 10%;
    width: 50%;
}