* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sort: #172442;
    --hvid: #fdfdeb;
    --gron:#c5d27f;
    --orange: #f39c45;
    --blaa:#89b9cf;
    --lysrod: #f3a0b9;
    --lilla: #5d4aa1;
    --brun: #57341c;
    --graa: #5e6b7f;

    
    --fatface:    font-family: "Abril Fatface", serif;
    --signika:    font-family: "Signika", serif;
}

* {
    margin: 0%;
}



header {
    width: 100%;
    background: var(--hvid);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 20px 4%;
    display: flex;
    z-index: 1000;
    text-transform: uppercase;
    position: sticky;



}

header .navbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

#headlogo {
    width: 170px;
}

.headikon {
    width: 30%;
}

.headikoncontainer {
    display: flex;
    width: 25%;
    align-self: flex-end;


}

header .menu {
    font-weight: bolder;
    font-size: 15px;
    color: var(--hvid);


}

header .navbar ul {
    list-style: none;
    width: 80%;
    padding: 0%;
    display: flex;
    justify-content: space-evenly;
    align-self: flex-end;


}

header .navbar ul li {
    text-decoration-color: var(--hvid);
    position: relative;

}

header .navbar ul li a {
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    padding-bottom: 0px;
    color: var(--sort);
    display: block;

}

header .navbar ul li a:hover {
    background: var(--grå);
    color: var(--orange);
    
}

header .navbar ul li ul {
    position: absolute;
    width: auto;
    background: var(--hvid);
    display: none;

}

header .navbar ul li ul li {
    width: 100%;
    /*border-top: 1px solid var(--sort);*/

}

header .navbar ul li ul li ul {
    left: 100px;
    top:0;
    
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: block;
}

header label {
    font-size: 15px;
    color: var(--grå);
    cursor: pointer;
    display: none;
}

#menu-bar {
    display: none;
}



footer {
    background: var(--sort);
    color: var(--hvid);
    padding: 5%;
    line-height: 1.6;
    display: flex;
}

#footerlinks {
    display: flex;
    justify-content: space-between;
}